@charset "UTF-8";
html {
  height: 100%; }

body {
  margin: 0;
  box-sizing: border-box;
  height: 100%; }

/** 侧边栏 **/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  text-align: left;
  background-image: url(/images/sidebar.jpg);
  padding: 20px 10px;
  color: white; }

.sidebar a,
.sidebar a:hover,
.sidebar a:link,
.sidebar a:visited {
  color: white; }

.sidebar-title {
  position: absolute;
  right: 20px;
  top: 40px;
  left: 20px;
  text-align: center; }

.sidebar-title h1 {
  margin: 0; }

.sidebar-menu {
  position: absolute;
  right: 20px;
  top: 120px;
  left: 30px;
  text-align: left;
  font-size: 1rem; }

.sidebar-footer {
  position: absolute;
  right: 20px;
  bottom: 30px;
  left: 20px; }

.sidebar-background, .sidebar-licenses {
  margin-bottom: 5px; }

.content {
  box-sizing: border-box;
  margin-left: 300px;
  padding-left: 50px;
  padding-top: 40px;
  min-height: 100%; }

.header {
  height: 50px;
  background-color: green;
  color: white; }

/** 主页范围 **/
.post {
  margin-bottom: 15px; }

.post .title {
  font-size: 2rem;
  margin-bottom: 5px; }

.posts .post .title a {
  color: #7897C3; }

.post .time {
  color: #757575; }

.post .excerpt {
  margin-top: 20px; }

a {
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: underline; }

a:link, a:visited {
  color: #7897C3; }

.article {
  margin-right: 350px; }

.article {
  min-width: 500px;
  max-width: 1000px;
  color: #000; }

.article .title {
  margin-bottom: 5px; }

.article .title a {
  font-size: 2rem;
  color: #000; }

.article-content {
  margin-top: 50px; }

.article-toc {
  position: fixed;
  top: 50px;
  right: 50px;
  min-width: 250px;
  max-width: 450px;
  color: white;
  line-height: 1.5;
  text-align: left;
  border-radius: 15px;
  border: 1px solid #7897C3; }

.article-toc .toc {
  padding-left: 20px;
  padding-right: 20px; }

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 1200px; }

ol.toc-child {
  padding-inline-start: 30px; }

.alert-warning {
  border: 1px solid #ffd77a;
  background-color: #fff9e6; }

.alert-with-desc {
  padding: 16px;
  position: relative;
  border-radius: 4px;
  margin-bottom: 10px;
  color: #515a6e;
  line-height: 1.5;
  position: relative;
  border-radius: 4px;
  color: #515a6e;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
  margin-top: 20px; }

.alert-with-desc .alert-message {
  font-size: 16px;
  color: #17233d;
  display: block;
  margin-bottom: 8px; }

.alert-desc {
  padding: 16px;
  position: relative;
  border-radius: 4px;
  margin-bottom: 10px;
  color: #515a6e;
  line-height: 1.5; }

.archive-group {
  margin-bottom: 20px; }

.archive-year {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #5499C7; }

.archive-post {
  font-size: 1.2rem;
  margin-bottom: 5px;
  display: flex; }

.archive-post .title {
  padding-left: 20px;
  color: #7897C3; }

.archive-post .time {
  color: #909497; }
